:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bulb-light: #000000ff;
    --bulb-screw: #221e1cff;
    --coil-color: #413c1bff;
    --line-color: #13100fff;
    --glare: #b9b599ff;
    --glow: #000000ff;
    color: #e0e0e0;

}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.light-and-instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid white; */
}

.light {
    height: 200px;
    width: 200px;
    /* border: solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.mainbulb {
    background-color: var(--bulb-light);
    width: 50%;
    height: 50%;
    border-radius: 100px 100px 100px 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
    

}
.glow {
    position: absolute;
    transform: translate(0%, 100%);
    box-shadow: 0px 0px 40px 30px var(--glow);
    width: 40px;
    height: 30px;
    border-radius: 100%;
    z-index: -3;
    transition: background-color 0.7s ease;
    
}
.glare {
    position: absolute;
    height: 60px;
    width: 30px;
    background-color: var(--glare);
    z-index: 1;
    border-radius: 100%;
    opacity: 30%;
    transform: translate(70%, -5%) rotate(-45deg);
    transition: background-color 0.5s ease;
    



}
.underbulb {
    width: 29%;
    height: 16%;
    background-color: var(--bulb-light);
    border-radius: 0px 0px 100px 100px;
    margin-top: -15px;
    z-index: -1;
    transition: background-color 0.5s ease;
    
}
.coils {
    /* border: solid white; */
    height: 100%;
    width: 50%;
    
}

.coil-1 {
    margin-top: 30%;
    width: 100%;
    height: 8%;
    background-color: var(--coil-color);
    border-radius: 10px;
    transform: rotate(10deg);
    transition: background-color 0.5s ease;
}
.coil-2 {
    margin-top: 10%;
    width: 100%;
    height: 8%;
    background-color: var(--coil-color);
    border-radius: 10px;
    transform: rotate(10deg);
    transition: background-color 0.5s ease;
}
.coil-3 {
    margin-top: 10%;
    width: 100%;
    height: 8%;
    background-color: var(--coil-color);
    border-radius: 10px;
    transform: rotate(10deg);
    transition: background-color 0.5s ease;
}

.bottom-coils {
    /* border: solid white; */
    margin-top: 10%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.b-coil-1 {
    width: calc(8%*2);
    height: 100%;
    background: linear-gradient(var(--coil-color) 38%, var(--bulb-light) 100%);
    border-radius: 10px;
    margin-right: 10%;
    transition: background-color 0.5s ease;
    
}
.b-coil-2 {
    width: calc(8%*2);
    height: 100%;
    background: linear-gradient(var(--coil-color) 38%, var(--bulb-light) 100%);
    border-radius: 10px;
    transition: background-color 0.5s ease;
    
}




.bulbscrew {
    background-color: var(--bulb-screw);
    width: 22%;
    height: 15%;
    margin-top: -10px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
    
}

.screw-lines {
    /* border: solid white; */
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.line-1 {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--bulb-screw) 0%, var(--line-color) 20%, var(--line-color) 80%, var(--bulb-screw) 100%);
    margin-top: 10%;
    transition: background-color 0.5s ease;
}
.line-2 {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--bulb-screw) 0%, var(--line-color) 20%, var(--line-color) 80%, var(--bulb-screw) 100%);
    margin-top: 5%;
    transition: background-color 0.5s ease;
}


.bottom-triangle {
    
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid var(--line-color);
    transition: background-color 0.5s ease;
}

.instructions {
    display: flex;
    flex-direction: row;
}

.note {
    animation: note 5s ease-in-out infinite;
}

@keyframes note {
    0% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}

.arrow {
    animation: note 5s ease-in-out infinite;
    position: absolute;
    filter: invert();
    opacity: .6;
    width: 50px;
    height: 50px;
    transform: translate(50px, -16px) rotate(-120deg);
}